body {
    color: black;
    /* background: linear-gradient(90deg, rgba(11, 66, 163, 1) 0%, rgba(8, 181, 215, 1) 100%); */
}

svg {
    /* background-color: white; */
    border: 0.5px solid rgb(236, 236, 236);
}

#chart-area svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#logo {
    height: 50px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar-brand {
    height: 60px;
    padding: 5px 0px;
    display: flex;
    align-items: center;
}

.navbar-brand span {
    color: rgb(149, 178, 197);
    font-weight: 300;
    letter-spacing: 0.2rem;
    font-size: 1.1rem;
    line-height: 1.25rem;
}

/* rows */

.row-one {
    margin-top: 70px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.row-two,
.row-three,
.row-four {
    margin-top: 50px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

/* gradient */
.stop-left {
    /* stop-color: #1a518f; Indigo */
    stop-color: #1b69c4; /* Teal */
}

.stop-right {
    stop-color: #1b69c4; /* Teal */
}

.filled {
    fill: url(#mainGradient);
}

/* btc plot styles ******************************/

#btc-chart-area svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#btc-selections {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

#slider-div {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 20px 0 20px;
}

#date-slider {
    /* width: -moz-max-content;
    width: max-content; */
    width: 100%;
    transform: scale(1);
    transform-origin: 50% 0;
}

.form-control {
    width: 200px;
    margin-right: 10px;
}

.btc-axis {
    font: 10px sans-serif;
}

.btc-axis path,
.btc-axis line {
    fill: none;
    stroke: #d4d8da;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.btc-overlay {
    fill: none;
    pointer-events: all;
}

.btc-tooltip-info {
    opacity: 0;
    position: absolute;
    background-color: rgba(222, 222, 222, 0.7);
    width: max-content;
    height: 55px;
    padding: 0 10px;
    line-height: 0;
    color: rgb(58, 58, 58);
    border-radius: 4px;
}
/* Westward tooltips */
.btc-tooltip-info:before {
    width: 100%;
    box-sizing: border-box;
    display: inline;
    font-size: 15px;
    line-height: 0.5;
    color: rgba(222, 222, 222, 0.5);
    position: absolute;
    pointer-events: none;

    content: '\25C0';
    margin: -4px 0 0 0;
    top: 27px;
    left: -12px;
}

.btc-focus circle {
    fill: #f1f3f3;
    stroke: #777;
    stroke-width: 3px;
}

.btc-hover-line {
    stroke: rgba(119, 119, 119, 0.589);
    stroke-width: 1px;
    stroke-dasharray: 3, 3;
}

.btc-line {
    fill: none;
    stroke-width: 1.5px;
    stroke: grey;
}

/* plot Gapminder ****************************************/
.buttons {
    margin: 0 0 10px 0;
    display: flex;
}

.buttons button {
    background-color: #1b69c4;
    color: white;
    outline: none;
    border: none;
    padding: 5px;
    width: 120px;
    margin-right: 5px;
    transition: all 0.4s;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1rem;
}

.buttons button:hover {
    background-color: #13539c;
}

#continent-selector {
    width: 120px;
    outline-color: rgb(240, 240, 240);
}

.gapminder-header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.gapminder-slider {
    width: 20%;
    display: flex;
    align-items: center;
}
.gapminder-slider input {
    margin: 0 0 10px 10px;
    width: 100%;
}
input:focus {
    outline-color: rgb(240, 240, 240);
    outline: none;
}

/* plot 3 */
.svg-two {
    margin: 0 auto;
    display: block;
}

.input-slider {
    width: 400px;
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
}

.input-slider input {
    width: 200px;
    margin-right: 15px;
    margin-bottom: 8px;
}

.bin-count {
    text-align: center;
}

/* plot 3 */

/* Scatter Plot */
.svg-four .tick line {
    stroke: rgb(240, 240, 240);
    stroke-dasharray: 15, 5;
}
